DESKCONN_POSTGRES_HOST=localhost
DESKCONN_POSTGRES_URL=postgres://username:password@${DESKCONN_POSTGRES_HOST}:5432/deskconn_account_service?sslmode=disable&search_path=deskconn
DESKCONN_ROUTER_ADDRESS=localhost:8080
